body, html, .container-fluid, .row  {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100%;
}

.welcome-section {
    height: 93%;
    padding: 0px;
}

.banner {
    background-image: url('../images/background.jpg');
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
} 

.tag-line {
    z-index: 1;
    position: absolute;
    right: 80px; 
    top: 120px;
    color: white;
}

.tag-line h2 {
   padding-bottom: 15px;
}

.tag-line-item {
    font-size: 20px;
    line-height: 24px;
    margin: 25px auto;
}

.overlay {  
    height: 100%;
    width: 100%;
    background: rgba(39, 42, 43, 0.5);
    transition: opacity 200ms ease-in-out;
    z-index: 1;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
}

.form-section {
    padding: 80px 80px 20px 80px;

}

.form-section h2 {
    color: black;
    margin-top: 15px;
}

@media only screen and (max-width: 768px) {
    .tag-line {
        right: 0 !important; 
        top: 30px !important;
    }  

    .welcome-section {
        height: 45% !important;
    }

    .form-section {
        padding-top: 12px !important;
    }
}
